* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  background: white; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

#page1 img {
  max-width: 1920px; }

.red_text {
  color: #d9265e;
  font-weight: bold;
  font-size: 40px; }
  @media screen and (max-width: 411px) {
    .red_text {
      font-size: 20px; } }

#content {
  padding: 10% 5% 0 5%; }
  #content #ul_text {
    margin: 60px auto; }
    #content #ul_text:after {
      content: "";
      display: block;
      clear: both; }
    @media screen and (max-width: 411px) {
      #content #ul_text {
        margin: 20px 0; } }
    #content #ul_text ul {
      width: 48%;
      float: left; }
      @media screen and (max-width: 411px) {
        #content #ul_text ul {
          width: 100%; } }
      #content #ul_text ul li {
        font-size: 25px;
        padding: 20px 0; }
        @media screen and (max-width: 1024px) {
          #content #ul_text ul li {
            font-size: 18px;
            padding: 10px 0; } }
        @media screen and (max-width: 800px) {
          #content #ul_text ul li {
            font-size: 13px;
            padding: 10px 20px; } }
        #content #ul_text ul li .lui_text {
          margin-left: 40px; }
        #content #ul_text ul li .bold_p {
          font-weight: bold; }
        #content #ul_text ul li .span_lui {
          padding-right: 50px; }
    #content #ul_text p {
      display: inline-block;
      margin-left: 10px; }
  #content #img_content div {
    width: 50%; }

.bold_p {
  padding-right: 10px; }

b {
  font-weight: bold; }

.wrap_page {
  width: 100px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto; }
  .wrap_page .page {
    padding: 15px 0 0 5px;
    color: #d9265e;
    height: 200px;
    border-radius: 20% 0 0 0;
    border-left: 3px solid #d9265e; }

.bold_p {
  font-weight: bold; }

#page_3 {
  background: url("../image/3_1.png") no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 50%; }
  @media screen and (max-width: 1440px) {
    #page_3 {
      background-size: contain; } }
  #page_3 #ul_page_3 {
    padding: 0% 5% 0 5%; }
    #page_3 #ul_page_3:after {
      content: "";
      display: block;
      clear: both; }
    #page_3 #ul_page_3 ul {
      width: 48%;
      float: left; }
      @media screen and (max-width: 411px) {
        #page_3 #ul_page_3 ul {
          width: 100%; } }
      #page_3 #ul_page_3 ul li {
        margin-bottom: 50px;
        padding: 0 10%; }
        @media screen and (max-width: 1024px) {
          #page_3 #ul_page_3 ul li {
            margin-bottom: 20px; } }
        #page_3 #ul_page_3 ul li p {
          font-size: 25px; }
          @media screen and (max-width: 1024px) {
            #page_3 #ul_page_3 ul li p {
              font-size: 18px; } }
          @media screen and (max-width: 800px) {
            #page_3 #ul_page_3 ul li p {
              font-size: 13px; } }

#page_4 {
  background: url("../image/4.png") no-repeat;
  background-size: contain;
  background-position-x: center;
  padding-top: 60%; }
  #page_4 h1 {
    margin-left: 4%;
    font-size: 60px; }
    @media screen and (max-width: 800px) {
      #page_4 h1 {
        font-size: 40px; } }
    @media screen and (max-width: 411px) {
      #page_4 h1 {
        font-size: 20px;
        text-align: center;
        margin: 0; } }
  #page_4 #wrap_4 {
    padding-top: 10%; }
    #page_4 #wrap_4:after {
      content: "";
      display: block;
      clear: both; }
    @media screen and (max-width: 800px) {
      #page_4 #wrap_4 {
        padding-top: 2%; } }
    #page_4 #wrap_4 #text_4 {
      width: 40%;
      padding: 4%;
      float: left; }
      @media screen and (max-width: 600px) {
        #page_4 #wrap_4 #text_4 {
          width: 50%;
          padding: 3%; } }
      @media screen and (max-width: 411px) {
        #page_4 #wrap_4 #text_4 {
          width: 100%;
          padding: 10%; } }
      #page_4 #wrap_4 #text_4 p {
        font-size: 25px;
        line-height: 1.6em;
        margin-bottom: 65px; }
        @media screen and (max-width: 1440px) {
          #page_4 #wrap_4 #text_4 p {
            font-size: 20px;
            line-height: 1.2em;
            margin-bottom: 65px; } }
        @media screen and (max-width: 1024px) {
          #page_4 #wrap_4 #text_4 p {
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px; } }
        @media screen and (max-width: 800px) {
          #page_4 #wrap_4 #text_4 p {
            font-size: 13px; } }
      #page_4 #wrap_4 #text_4 h2 {
        margin: 40px 0;
        font-size: 40px;
        font-style: italic;
        color: #d9265e; }
        @media screen and (max-width: 1024px) {
          #page_4 #wrap_4 #text_4 h2 {
            margin: 30px 0;
            font-size: 35px; } }
        @media screen and (max-width: 800px) {
          #page_4 #wrap_4 #text_4 h2 {
            margin: 10px 0;
            font-size: 25px; } }
        @media screen and (max-width: 411px) {
          #page_4 #wrap_4 #text_4 h2 {
            font-size: 18px; } }
    #page_4 #wrap_4 #img_4 {
      width: 50%;
      float: right; }
      @media screen and (max-width: 411px) {
        #page_4 #wrap_4 #img_4 {
          display: none; } }

#page_5 {
  background: url("../image/4.png") no-repeat;
  background-size: contain;
  background-position-x: center;
  padding-top: 60%;
  position: relative; }
  #page_5 h1 {
    margin-left: 4%;
    font-size: 60px; }
    @media screen and (max-width: 800px) {
      #page_5 h1 {
        font-size: 40px; } }
    @media screen and (max-width: 411px) {
      #page_5 h1 {
        font-size: 20px;
        margin: 0;
        text-align: center; } }
  #page_5 #ul_p5 ul:after {
    content: "";
    display: block;
    clear: both; }
  #page_5 #ul_p5 ul li {
    width: 48%;
    float: left;
    padding: 4%; }
    @media screen and (max-width: 411px) {
      #page_5 #ul_p5 ul li {
        width: 100%;
        padding: 10px 10%; } }
    #page_5 #ul_p5 ul li #mobi_p {
      display: none; }
      @media screen and (max-width: 411px) {
        #page_5 #ul_p5 ul li #mobi_p {
          display: block;
          padding-top: 10px; } }
    @media screen and (max-width: 411px) {
      #page_5 #ul_p5 ul li .mobi_p {
        display: none; } }
    #page_5 #ul_p5 ul li p {
      font-size: 25px;
      line-height: 1.6em;
      margin-bottom: 65px; }
      @media screen and (max-width: 1440px) {
        #page_5 #ul_p5 ul li p {
          font-size: 20px;
          line-height: 1.2em;
          margin-bottom: 65px; } }
      @media screen and (max-width: 1024px) {
        #page_5 #ul_p5 ul li p {
          font-size: 18px;
          line-height: 1em;
          margin-bottom: 10px; } }
      @media screen and (max-width: 800px) {
        #page_5 #ul_p5 ul li p {
          font-size: 13px; } }
  #page_5 #ul_p5 ul h2 {
    margin: 40px 0;
    font-size: 40px;
    font-style: italic;
    color: #d9265e; }
    @media screen and (max-width: 800px) {
      #page_5 #ul_p5 ul h2 {
        margin: 10px 0;
        font-size: 25px; } }
    @media screen and (max-width: 411px) {
      #page_5 #ul_p5 ul h2 {
        font-size: 18px; } }
  #page_5 #img_bot_pg5 {
    z-index: -1;
    width: 45%;
    bottom: 0;
    right: 0;
    position: absolute; }
    @media screen and (max-width: 411px) {
      #page_5 #img_bot_pg5 {
        display: none; } }

.h1_page {
  margin-left: 4%;
  font-size: 60px; }
  @media screen and (max-width: 800px) {
    .h1_page {
      font-size: 40px; } }
  @media screen and (max-width: 411px) {
    .h1_page {
      font-size: 20px;
      margin: 0;
      text-align: center; } }

.h2_page {
  font-size: 60px;
  margin-top: 40px;
  margin-left: 4%;
  font-weight: bold; }
  @media screen and (max-width: 800px) {
    .h2_page {
      font-size: 25px; } }
  @media screen and (max-width: 411px) {
    .h2_page {
      font-size: 15px;
      text-align: center; } }

#page_6 {
  background: url("../image/6.png") no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 60%;
  position: relative; }
  @media screen and (max-width: 1024px) {
    #page_6 {
      background-size: contain; } }
  #page_6 h1 {
    margin-left: 4%;
    font-size: 60px; }
    @media screen and (max-width: 800px) {
      #page_6 h1 {
        font-size: 40px; } }
    @media screen and (max-width: 411px) {
      #page_6 h1 {
        font-size: 20px;
        margin: 0;
        text-align: center; } }
  #page_6 #btn_6 {
    height: 80px;
    width: 80%;
    margin: 50px auto 0 auto; }
    @media screen and (max-width: 320px) {
      #page_6 #btn_6 {
        height: 40px;
        width: 90%;
        margin: 20px auto 0 auto; } }
    #page_6 #btn_6 ul:after {
      content: "";
      display: block;
      clear: both; }
    #page_6 #btn_6 li {
      width: 48%;
      float: left;
      text-align: center; }
    #page_6 #btn_6 .btn_6 {
      display: inline-block;
      color: white;
      font-weight: bold;
      border-radius: 4px;
      padding: 20px 200px;
      background: #9d2b51; }
      @media screen and (max-width: 1024px) {
        #page_6 #btn_6 .btn_6 {
          padding: 10px 100px; } }
      @media screen and (max-width: 600px) {
        #page_6 #btn_6 .btn_6 {
          padding: 11px 65px; } }
      @media screen and (max-width: 411px) {
        #page_6 #btn_6 .btn_6 {
          padding: 5px 40px;
          font-size: 10px; } }
  #page_6 #img_6 ul:after {
    content: "";
    display: block;
    clear: both; }
  #page_6 #img_6 ul li {
    width: 48%;
    float: left;
    padding: 0 5%; }
  #page_6 #chart {
    width: 80%;
    margin: 0 auto; }
  #page_6 p {
    font-style: italic;
    font-size: 12px;
    padding: 10px 4%; }
    @media screen and (max-width: 320px) {
      #page_6 p {
        font-size: 6px;
        padding: 5px 4%; } }

#page_7, #page_8, #page_9, #page_10 {
  background: url("../image/3.png") no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 60%;
  position: relative; }
  @media screen and (max-width: 600px) {
    #page_7, #page_8, #page_9, #page_10 {
      background-size: contain; } }
  #page_7 ul:after, #page_8 ul:after, #page_9 ul:after, #page_10 ul:after {
    content: "";
    display: block;
    clear: both; }
  #page_7 ul li, #page_8 ul li, #page_9 ul li, #page_10 ul li {
    width: 48%;
    padding: 2%;
    float: left; }
    @media screen and (max-width: 600px) {
      #page_7 ul li, #page_8 ul li, #page_9 ul li, #page_10 ul li {
        width: 100%;
        padding: 1% 10%; } }
  #page_7 h2, #page_8 h2, #page_9 h2, #page_10 h2 {
    font-size: 60px;
    margin-top: 40px;
    margin-left: 4%;
    font-weight: bold; }
    @media screen and (max-width: 1024px) {
      #page_7 h2, #page_8 h2, #page_9 h2, #page_10 h2 {
        font-size: 40px; } }
    @media screen and (max-width: 800px) {
      #page_7 h2, #page_8 h2, #page_9 h2, #page_10 h2 {
        font-size: 25px; } }
    @media screen and (max-width: 411px) {
      #page_7 h2, #page_8 h2, #page_9 h2, #page_10 h2 {
        font-size: 15px;
        text-align: center; } }
  #page_7 h3, #page_8 h3, #page_9 h3, #page_10 h3 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 4%; }
    @media screen and (max-width: 1024px) {
      #page_7 h3, #page_8 h3, #page_9 h3, #page_10 h3 {
        font-size: 30px; } }
    @media screen and (max-width: 800px) {
      #page_7 h3, #page_8 h3, #page_9 h3, #page_10 h3 {
        font-size: 20px; } }
    @media screen and (max-width: 411px) {
      #page_7 h3, #page_8 h3, #page_9 h3, #page_10 h3 {
        font-size: 13px;
        text-align: center; } }
  #page_7 p, #page_8 p, #page_9 p, #page_10 p {
    font-size: 25px;
    line-height: 1.6em;
    margin-bottom: 65px;
    padding: 4%; }
    @media screen and (max-width: 1440px) {
      #page_7 p, #page_8 p, #page_9 p, #page_10 p {
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom: 65px; } }
    @media screen and (max-width: 1024px) {
      #page_7 p, #page_8 p, #page_9 p, #page_10 p {
        font-size: 18px;
        line-height: 1em;
        margin-bottom: 10px; } }
    @media screen and (max-width: 800px) {
      #page_7 p, #page_8 p, #page_9 p, #page_10 p {
        font-size: 13px; } }
    @media screen and (max-width: 600px) {
      #page_7 p, #page_8 p, #page_9 p, #page_10 p {
        text-align: center; } }
  #page_7 #img_8, #page_8 #img_8, #page_9 #img_8, #page_10 #img_8 {
    width: 80%; }
    @media screen and (max-width: 600px) {
      #page_7 #img_8, #page_8 #img_8, #page_9 #img_8, #page_10 #img_8 {
        margin: 0 auto;
        width: 50%; } }
  #page_7 #img_9, #page_8 #img_9, #page_9 #img_9, #page_10 #img_9 {
    width: 80%; }
    @media screen and (max-width: 600px) {
      #page_7 #img_9, #page_8 #img_9, #page_9 #img_9, #page_10 #img_9 {
        margin: 0 auto;
        width: 50%; } }
  #page_7 #img_10, #page_8 #img_10, #page_9 #img_10, #page_10 #img_10 {
    width: 80%; }
    @media screen and (max-width: 600px) {
      #page_7 #img_10, #page_8 #img_10, #page_9 #img_10, #page_10 #img_10 {
        margin: 0 auto;
        width: 50%; } }
  #page_7 #ul_10, #page_8 #ul_10, #page_9 #ul_10, #page_10 #ul_10 {
    margin-bottom: 20%; }
  #page_7 #img10_1, #page_8 #img10_1, #page_9 #img10_1, #page_10 #img10_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%; }

#page_11 {
  background: url("../image/6.png") no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 50%;
  position: relative; }
  @media screen and (max-width: 600px) {
    #page_11 {
      background-size: contain; } }
  #page_11 .wrap_p {
    padding: 4%; }
  #page_11 p {
    font-size: 25px;
    line-height: 1.6em; }
    @media screen and (max-width: 1440px) {
      #page_11 p {
        font-size: 20px;
        line-height: 1.2em; } }
    @media screen and (max-width: 1024px) {
      #page_11 p {
        font-size: 18px;
        line-height: 1em;
        margin-bottom: 10px; } }
    @media screen and (max-width: 800px) {
      #page_11 p {
        font-size: 13px; } }
  #page_11 h2 {
    font-size: 60px;
    margin: 60px 0;
    font-weight: bold; }
    @media screen and (max-width: 600px) {
      #page_11 h2 {
        margin: 20px 0; } }
    @media screen and (max-width: 1024px) {
      #page_11 h2 {
        font-size: 40px; } }
    @media screen and (max-width: 800px) {
      #page_11 h2 {
        font-size: 25px; } }
    @media screen and (max-width: 411px) {
      #page_11 h2 {
        font-size: 15px; } }
  #page_11 h4 {
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0; }
    @media screen and (max-width: 1024px) {
      #page_11 h4 {
        font-size: 20px; } }
    @media screen and (max-width: 800px) {
      #page_11 h4 {
        font-size: 20px; } }
    @media screen and (max-width: 411px) {
      #page_11 h4 {
        font-size: 13px; } }
  #page_11 .div_ul_11 {
    margin-bottom: 50px; }
    @media screen and (max-width: 600px) {
      #page_11 .div_ul_11 {
        margin-bottom: 20px; } }
    #page_11 .div_ul_11 ul:after {
      content: "";
      display: block;
      clear: both; }
    #page_11 .div_ul_11 ul li {
      width: 30%;
      float: left; }
    @media screen and (max-width: 600px) {
      #page_11 .div_ul_11 ul {
        width: 100%; } }
  #page_11 .span_11 {
    margin: 30px 0; }
    #page_11 .span_11 span {
      padding-right: 30px; }
      @media screen and (max-width: 411px) {
        #page_11 .span_11 span {
          padding-right: 5px; } }
  #page_11 .end_p_11 {
    margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
