@import "mixins";
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Rubik', sans-serif; 
    background:white;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
#page1{
    img{
        max-width: 1920px;
    }
}
.red_text{
    color:#d9265e;
    font-weight: bold;
    font-size:40px;
    @include mQ(411px){
        font-size: 20px;
    }
}
#content{
    padding: 10% 5% 0 5%;
    #ul_text{
        margin:60px auto;
        @include clearFix;
        @include mQ(411px){
            margin:20px 0;
        }
        ul{
            width: 48%;
            float: left;
            @include mQ(411px){
                width: 100%;
            }
            li{
                font-size:25px;
                padding:20px 0;
                @include mQ(1024px){
                    font-size: 18px;
                     padding: 10px 0;
                }
                @include mQ(800px){
                    font-size: 13px;
                    padding: 10px 20px;
                }
                .lui_text{
                    margin-left:40px;
                }
                .bold_p{
                    font-weight: bold;
                }
                .span_lui{
                    padding-right:50px;
                }
            }
        }
        p{
            display: inline-block;
            margin-left:10px;
        }
    }
    #img_content{
        div{
            width:50%;
        }
    }
  
}
.bold_p{
    padding-right:10px;
}
b{
    font-weight: bold;
}
.wrap_page{
    width:100px;
    height:50px;
    overflow:hidden;
    margin:0 auto;
    .page{
        padding:15px 0 0 5px;
        color:#d9265e;
        height:200px;
        border-radius:20% 0 0 0;
        border-left:3px solid #d9265e;
    }
}
.bold_p{
    font-weight: bold;
}
#page_3{
    background: url("../image/3_1.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 50%;
    @include mQ(1440px){
        background-size:contain;
    }
    #ul_page_3{
        @include clearFix;
        padding: 0% 5% 0 5%;
        ul{
            width:48%;
            float:left;
            @include mQ(411px){
                width: 100%;
            }
            li{
                margin-bottom: 50px;
                padding: 0 10%;
                @include mQ(1024px){
                    margin-bottom: 20px;
                }
                p{
                    font-size: 25px;
                    @include mQ(1024px){
                        font-size: 18px;
                    }
                    @include mQ(800px){
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
#page_4{
    background: url("../image/4.png") no-repeat;
    background-size:contain;
    background-position-x:center;
    padding-top: 60%;
   
    h1{
        margin-left: 4%;        
        font-size:60px;
        @include mQ(800px){
            font-size: 40px;
        }
        @include mQ(411px){
            font-size: 20px;
            text-align: center;
            margin:0;
        }
    }
    #wrap_4{
        @include clearFix;
        padding-top: 10%;
        @include mQ(800px){
            padding-top: 2%;
        }
        #text_4{
            width:40%;
            padding:4%;
            float:left;
            @include mQ(600px){
                width: 50%;
                padding: 3%;
            }
            @include mQ(411px){
                width: 100%;
                padding: 10%;
            }
            p{
                font-size: 25px;
                line-height: 1.6em;
                margin-bottom:65px;
                @include mQ(1440px){
                    font-size: 20px;
                    line-height: 1.2em;
                    margin-bottom: 65px;
                }
                @include mQ(1024px){
                    font-size: 18px;
                    line-height: 1em;
                    margin-bottom: 10px;
                }
                @include mQ(800px){
                    font-size: 13px;
                }
            }
            h2{
                margin: 40px 0;
                font-size: 40px;
                font-style:italic; 
                color:#d9265e;
                @include mQ(1024px){
                    margin: 30px 0;
                    font-size: 35px;
                }
                @include mQ(800px){
                    margin: 10px 0;
                    font-size: 25px;
                }
                @include mQ(411px){
                    font-size: 18px;
                }
            }
        }
        #img_4{
            width:50%;
            float: right;
            @include mQ(411px){
                display: none;    
            }
        }
    }
    
}
#page_5{
    background: url("../image/4.png") no-repeat;
    background-size:contain;
    background-position-x:center;
    padding-top: 60%;
    position: relative;
        h1{
            
            margin-left: 4%;
        font-size: 60px;
        @include mQ(800px){
            font-size: 40px;
        }
        @include mQ(411px){
            font-size: 20px;
            margin:0;
            text-align: center;
        }
    }
    #ul_p5{
        ul{
            @include clearFix;
            li{
                width:48%;
                float: left;
                padding: 4%;
                @include mQ(411px){
                    width: 100%;
                    padding: 10px 10%;
                }
                #mobi_p{
                    display: none;
                    @include mQ(411px){
                        display: block;
                        padding-top:10px;
                    }
                }
                .mobi_p{
                    @include mQ(411px){
                        display: none;
                    }
                }
                p{
                    font-size: 25px;
                    line-height: 1.6em;
                    margin-bottom: 65px;
                    @include mQ(1440px){
                        font-size: 20px;
                        line-height: 1.2em;
                        margin-bottom: 65px;
                    }
                    @include mQ(1024px){
                        font-size: 18px;
                        line-height: 1em;
                        margin-bottom: 10px;
                    }
                    @include mQ(800px){
                        font-size: 13px;
                    }
                }
            }
            h2{
                margin: 40px 0;
                font-size: 40px;
                font-style: italic;
                color: #d9265e;
                @include mQ(800px){
                    margin: 10px 0;
                    font-size: 25px;
                }
                @include mQ(411px){
                    font-size: 18px;
                }
            }
        }
    }
    #img_bot_pg5{
        z-index: -1;
        width: 45%;
        bottom: 0;
        right: 0;
        position: absolute;
        @include mQ(411px){
            display: none;
        }
    }
}
.h1_page{
    margin-left: 4%;
    font-size: 60px;
    @include mQ(800px){
    font-size: 40px;
    }
    @include mQ(411px){
    font-size: 20px;
    margin:0;
    text-align: center;
    }
}
.h2_page{
    font-size:60px;
    margin-top:40px;
    margin-left:4%;
    font-weight: bold;
    @include mQ(800px){
    
    font-size: 25px;
    }
    @include mQ(411px){
        font-size: 15px;
        text-align: center;
    }
    
}
#page_6{
    background: url("../image/6.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 60%;
    position: relative;
    @include mQ(1024px){
        background-size: contain;
    }
    h1{
            
        margin-left: 4%;
        font-size: 60px;
        @include mQ(800px){
        font-size: 40px;
        }
        @include mQ(411px){
        font-size: 20px;
        margin:0;
        text-align: center;
        }
    }
    
    #btn_6{
        height: 80px;
        width: 80%;
        margin:50px auto 0 auto;
        @include mQ(320px){
            height: 40px;
            width: 90%;
            margin: 20px auto 0 auto;
        }
        ul{
            @include clearFix;
        }
        li{
            width: 48%;
            float:left;
            text-align: center;
        }
        .btn_6{
            display: inline-block;
            color:white;
            font-weight: bold;
            border-radius:4px;
            padding:20px 200px;
            background: #9d2b51;
            @include mQ(1024px){
                padding: 10px 100px;
            }
            @include mQ(600px){
                padding: 11px 65px;
            }
            @include mQ(411px){
                padding: 5px 40px;
                font-size: 10px;
            }
            
            
        }
    }
    #img_6{
        
        ul{
            @include clearFix;
            li{
                width: 48%;
                float:left;
                padding: 0 5%;
            }
        }
    }
    #chart{
        width: 80%;
        margin:0 auto;
    }
    p{
        font-style: italic;
        font-size: 12px;
        padding:10px 4%;
        @include mQ(320px){
            font-size: 6px;
    padding: 5px 4%;
        }
    }
}
#page_7,#page_8,#page_9,#page_10{
    background: url("../image/3.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 60%;
    position: relative;
    @include mQ(600px){
        background-size: contain;
    }
    ul{
        @include clearFix;
        li{
            width: 48%;
            padding:2%;
            float: left;
            @include mQ(600px){
                width:100%;
                padding: 1% 10%;
            }
        }
    }
    h2{
        font-size:60px;
    margin-top:40px;
    margin-left:4%; 
    font-weight: bold;   
    @include mQ(1024px){
        font-size: 40px;
    }
    @include mQ(800px){
    
    font-size: 25px;
    }
    @include mQ(411px){
        font-size: 15px;
        text-align: center;
    }
    }
    h3{
        font-weight: bold; 
        font-size:50px;
    margin-top:40px;
    margin-left:4%;    
    @include mQ(1024px){
        font-size: 30px;
    }
    @include mQ(800px){
    
    font-size: 20px;
    }
    @include mQ(411px){
        font-size: 13px;
        text-align: center;
    }

    }
    p{
        font-size: 25px;
        line-height: 1.6em;
        margin-bottom: 65px;
        padding: 4%;
        @include mQ(1440px){
            font-size: 20px;
            line-height: 1.2em;
            margin-bottom: 65px;
        }
        @include mQ(1024px){
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px;
        }
        @include mQ(800px){
            font-size: 13px;
        }
        @include mQ(600px){
            text-align: center;
        }
    }
    #img_8{
        width: 80%;
        @include mQ(600px){
            margin: 0 auto;
            width: 50%;
        }
    }
    #img_9{
        width: 80%;
        @include mQ(600px){
            margin: 0 auto;
            width: 50%;
        }
    }
    #img_10{
        width: 80%;
        @include mQ(600px){
            margin: 0 auto;
            width: 50%;
        }
    }
    #ul_10{
        margin-bottom:20%;
    }
    #img10_1{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
    }
}
#page_11{
    background: url("../image/6.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 50%;
    position: relative;
    @include mQ(600px){
        background-size: contain;
    }
    .wrap_p{
        padding: 4%;
    }
    p{
        font-size: 25px;
        line-height: 1.6em;
        
      
        @include mQ(1440px){
            font-size: 20px;
            line-height: 1.2em;
            
        }
        @include mQ(1024px){
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px;
        }
        @include mQ(800px){
            font-size: 13px;
        }
    }
    h2{
        font-size:60px;
    margin:60px 0;
    @include mQ(600px){
        margin:20px 0;
    }    
    font-weight: bold;   
    @include mQ(1024px){
        font-size: 40px;
    }
    @include mQ(800px){
    
    font-size: 25px;
    }
    @include mQ(411px){
        font-size: 15px;
    }
    }
    h4{
        font-weight: bold; 
        font-size:30px;
        margin: 30px 0;
    @include mQ(1024px){
        font-size: 20px;
    }
    @include mQ(800px){
    
    font-size: 20px;
    }
    @include mQ(411px){
        font-size: 13px;
    }
    }
    .div_ul_11{
        margin-bottom: 50px;
        @include mQ(600px){
            margin-bottom: 20px;
        }
        ul{
            @include clearFix;
            li{
                width: 30%;
                float: left;
            }
            @include mQ(600px){
                width: 100%;
            }
        }
    }
    .span_11{
        margin:30px 0;
        span{
            padding-right:30px; 
            @include mQ(411px){
                padding-right: 5px;
            }
        }
    }
    .end_p_11{
        margin-top:30px;
    }
    
}
#page_12{
    background: url("../image/6.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 50%;
    position: relative;
    @include mQ(600px){
        background-size: contain;
    }
    h2{
        font-size:60px;
         margin:20px 0 100px 0;
         font-weight: bold;
    @include mQ(1440px){
        font-size:45px;
    }
    @include mQ(600px){
        margin:20px 0;
    }    
       
    @include mQ(1024px){
        font-size: 40px;
    }
    @include mQ(800px){
        margin:20px 0 40px 0;
    font-size: 25px;
    }
    @include mQ(411px){
        font-size: 15px;
    }
    }
    p{
        font-size: 25px;
        line-height: 1.6em;
        margin-bottom:20px;
        
      
        @include mQ(1440px){
            font-size: 20px;
            line-height: 1.2em;
            
        }
        @include mQ(1024px){
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px;
        }
        @include mQ(800px){
            font-size: 13px;
        }
    }
    #ul_12{
        padding: 0 4% 4% 4%;
        ul{
            @include clearFix;
            li{
                width: 48%;
                float: left;
                padding:4%;
                @include mQ(600px){
                    width: 100%;
                }
            }
        }
    }
    .hr_p_12{
        text-align: center;
        color:#d780b2;
        font-style: italic;
        margin: 50px 0;
        p{
            margin-bottom: 0;
        }
        .mid_hr{
            padding: 20px;
        }
        .hr_{
            height: 2px;
    display: inline-block;
    width: 50%;
    border-bottom: 2px solid #d780b2;
    
        }
    }
}
#page_13{
    background: url("../image/6.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 50%;
    position: relative;
    @include mQ(600px){
        background-size: contain;
    }
    h2{
        font-size:60px;
         margin:20px 0 100px 0;
         font-weight: bold;
    @include mQ(1440px){
        font-size:45px;
    }
    @include mQ(600px){
        margin:20px 0;
    }    
       
    @include mQ(1024px){
        font-size: 40px;
    }
    @include mQ(800px){
        margin:20px 0 40px 0;
    font-size: 25px;
    }
    @include mQ(411px){
        font-size: 15px;
    }
    }
    p{
        font-size: 25px;
        line-height: 1.6em;
        margin-bottom:20px;
        
      
        @include mQ(1440px){
            font-size: 20px;
            line-height: 1.2em;
            
        }
        @include mQ(1024px){
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px;
        }
        @include mQ(800px){
            font-size: 13px;
        }
    }
    .end_p_13{
        font-size: smaller;
        font-style: italic;
        text-align: end;
        @include mQ(800px){
            font-size: 8px;
        }
    }
    .span_13{
        margin: 30px 0;
        span{
            padding-right: 30px;
        }
        
    }
    
}
.end_p_13{
    font-size: smaller;
    font-style: italic;
    text-align: end;
    @include mQ(800px){
        font-size: 8px;
    }
}
sup{
    vertical-align: super;
    font-size: smaller;
}
.wrap_13{
    padding: 0 8% 8% 8%;
}
#page_14{
    background: url("../image/6.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 50%;
    position: relative;
    @include mQ(600px){
        background-size: contain;
    }
    h2{
        font-size:60px;
         margin:20px 0 100px 0;
         font-weight: bold;
    @include mQ(1440px){
        font-size:45px;
    }
    @include mQ(600px){
        margin:20px 0;
    }    
       
    @include mQ(1024px){
        font-size: 40px;
    }
    @include mQ(800px){
        margin:20px 0 40px 0;
    font-size: 25px;
    }
    @include mQ(411px){
        font-size: 15px;
    }
    }
    p{
        font-size: 25px;
        line-height: 1.6em;
        margin-bottom:20px;
        
      
        @include mQ(1440px){
            font-size: 20px;
            line-height: 1.2em;
            
        }
        @include mQ(1024px){
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px;
        }
        @include mQ(800px){
            font-size: 13px;
        }
    }
    .p_14{
        margin: 50px 0;
        @include mQ(800px){
            margin: 20px 0;
        }
    }

}
#page_15,#page_16,#page_17,#page_18,#page_19,#page_20{
    background: url("../image/4.png") no-repeat;
    background-size:cover;
    background-position-x:center;
    padding-top: 50%;
    position: relative;
    @include mQ(600px){
        background-size: contain;
    }
    h1{       
        font-size:60px;
        margin-bottom: 50px;
        @include mQ(800px){
            font-size: 40px;
        }
        @include mQ(411px){
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    h2{
        font-size: 40px;
        font-style: italic;
        text-align: center;
        margin:60px 0;
        color: #d9265e;
        @include mQ(800px){
            margin: 10px 0;
            font-size: 25px;
        }
        @include mQ(411px){
            font-size: 18px;
            margin:10px 0;
        }
        
    }

    p{
        font-size: 25px;
        line-height: 1.6em;
        margin-bottom:20px;
        
      
        @include mQ(1440px){
            font-size: 20px;
            line-height: 1.2em;
            
        }
        @include mQ(1024px){
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 10px;
        }
        @include mQ(800px){
            font-size: 13px;
        }
    }
    #img_15{
    width: 50%;
    margin: 40px auto 0 auto;
    }
    
}
#page_16{
    #ul_16{
        ul{
            @include clearFix;
            li{
                width: 48%;
                float: left;
                padding:2%;
                @include mQ(800px){
                    width:100%;
                }
            }

        }
    }
    #img_16{
        width: 50%;
        margin: 40px auto 0 auto;
        }
        h3{
        font-weight: bold; 
        font-size:50px;
        margin-top:20px;
        margin-bottom: 10px;
        @include mQ(1024px){
            font-size: 30px;
        }
        @include mQ(800px){
        
        font-size: 20px;
        }
        @include mQ(411px){
            font-size: 13px;
            text-align: center;
        }
    
        }
}
#page_17{
    #ul_17{
        ul{
            @include clearFix;
            li{
                width: 30%;
                float:left;
                padding: 2%;
            text-align: center;
            @include mQ(600px){
                width: 100%;
            }
            }
            .li_2_17{
                width: 32%;
                @include mQ(600px){
                    width: 100%;
                }
            }
        }
        .ul_2_17{
            li{
                width: 48%;
                @include mQ(600px){
                    width: 100%;
                }
            }
        }
    }
    h3{
        font-weight: bold; 
        font-size:50px;
        margin-top:20px;
        margin-bottom: 10px;
        @include mQ(1024px){
            font-size: 30px;
        }
        @include mQ(800px){
        
        font-size: 20px;
        }
        @include mQ(411px){
            font-size: 13px;
            text-align: center;
        }
    
        }
        .img_17{
            
    margin: 0 auto;
    @include mQ(600px){
        width: 60%;
    }
        }
}
.img_18_right_mobi{
    display: none;
    @include clearFix;
    @include mQ(411px){
        display: block;
    }
    .img_18{
        width: 40%;
        float: left;
        margin:0 auto;
        padding:5%;
    }
}
#page_18{
    h3{
        font-weight: bold; 
        font-size:50px;
        margin-top:20px;
        margin-bottom: 10px;
        @include mQ(1024px){
            font-size: 30px;
        }
        @include mQ(800px){
        
        font-size: 20px;
        }
        @include mQ(411px){
            font-size: 13px;
            text-align: center;
        }
    
        }
    #ul_18{
        ul{
            @include clearFix;
            .li_1_18{
                width:65%;
                float:left;
                @include mQ(411px){
                    width: 100%;
                }
            }
            .li_2_18{
                width:25%;
                float:right;
                @include mQ(411px){
                    width: 100%;

                }
                .img_18_right{
                    @include mQ(411px){
                        display:none;
    
                    }
                }
                
            }
        }
    }
    .end_p_13{
        font-size: smaller;
        font-style: italic;
        text-align: end;
        @include mQ(800px){
            font-size: 8px;
        }
    }
}
#page_19{
    h3{
        font-weight: bold; 
        font-size:50px;
        margin-top:20px;
        margin-bottom: 10px;
        @include mQ(1024px){
            font-size: 30px;
        }
        @include mQ(800px){
        
        font-size: 20px;
        }
        @include mQ(411px){
            font-size: 13px;
            text-align: center;
        }
    
        }
    
}
.ul_19{
    ul{
        list-style-type: none;
        @include clearFix;
        li{
            
            width:25%;
            padding:2%;
            float:left;
            @include mQ(1024px){
                padding: 1%;
            }
            @include mQ(600px){
                width:48%;
                padding: 5px;
                float:left;
                &:nth-child(even){
                    float:right;
                }
                &:nth-child(odd){
                    clear: left;
                }
                
            }
            @include mQ(320px){
                width: 100%;

            }
        }
    }
    .img_19{
        @include mQ(320px){
            width:50%;
            margin:0 auto;
        }
    }
}
#page_20{
    h3{
        font-weight: bold; 
        font-size: 50px;
        margin-top:20px;        
        margin-bottom: 10px;
        @include mQ(1680px){
            font-size: 40px;
        }
        
        @include mQ(1024px){
            font-size: 35px;
        }
        @include mQ(800px){
        
        font-size: 20px;
        }
        @include mQ(411px){
            font-size: 13px;
            text-align: center;
        }
    
        }
}